Repository ArkEcosystem/payvo-sdk, pull requests merged in 2021-07, with the labels that each got.

#3 feat(profiles): add accent color setting key
  .gitignore
  packages/sdk-cli/source/commands/import-ledger-wallet.ts
  packages/sdk-cli/source/commands/send-multi-payment.ts
  packages/sdk-cli/source/commands/send-transfer.ts
  packages/sdk-profiles/source/env.test.ts
  packages/sdk-profiles/source/migrator.test.ts
  packages/sdk-profiles/source/profile.enum.contract.ts
  packages/sdk-profiles/source/profile.importer.test.ts
  packages/sdk-profiles/source/profile.initialiser.test.ts
  packages/sdk-profiles/source/profile.initialiser.ts
  packages/sdk-profiles/source/profile.repository.test.ts
  packages/sdk-profiles/source/profile.test.ts
  packages/sdk-profiles/source/profile.validator.test.ts
  packages/sdk-profiles/source/profile.validator.ts
  packages/sdk-profiles/test/fixtures/env-storage.json
  packages/sdk/source/dto/confirmed-transaction.contract.ts
  packages/sdk/source/dto/confirmed-transaction.ts
  packages/sdk/source/dto/signed-transaction.contract.ts
  packages/sdk/source/dto/signed-transaction.ts
  packages/sdk/source/dto/unspent-transaction.test.ts
  packages/sdk/source/dto/unspent-transaction.ts
  packages/sdk/source/services/transaction.service.ts
Labels: Domain: CLI, Domain: Profiles, Domain: SDK

#5 release: 1.0.2
  packages/sdk-ada/package.json
  packages/sdk-ark-musig/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-cli/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-http-got/package.json
  packages/sdk-http/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-markets/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-news/package.json
  packages/sdk-profiles/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: CLI, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: HTTP/got, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#6 chore(lsk): update explorer links
  packages/sdk-lsk/source/link.service.test.ts
  packages/sdk-lsk/source/networks/lsk.mainnet.ts
  packages/sdk-lsk/source/networks/lsk.testnet.ts
  packages/sdk-lsk/source/networks/shared.ts
Labels: Domain: LSK

#10 feat(lsk): add support for 3.0 API endpoints
  packages/sdk-lsk/source/address.service.ts
  packages/sdk-lsk/source/client-three.service.test.ts
  packages/sdk-lsk/source/client-three.service.ts
  packages/sdk-lsk/source/client-two.service.test.ts
  packages/sdk-lsk/source/client-two.service.ts
  packages/sdk-lsk/source/coin.contract.ts
  packages/sdk-lsk/source/coin.provider.ts
  packages/sdk-lsk/source/coin.services.ts
  packages/sdk-lsk/source/helpers.ts
  packages/sdk-lsk/source/ledger.service.test.ts
  packages/sdk-lsk/source/ledger.service.ts
  packages/sdk-lsk/source/transaction-three.service.ts
  packages/sdk-lsk/source/transaction-two.service.test.ts
  packages/sdk-lsk/source/transaction-two.service.ts
  packages/sdk-lsk/source/transaction-type.service.ts
  packages/sdk-lsk/source/transaction.dto.test.ts
  packages/sdk-lsk/source/transaction.dto.ts
  packages/sdk-lsk/source/transaction.service.ts
  packages/sdk-lsk/source/wallet.dto.test.ts
  packages/sdk-lsk/source/wallet.dto.ts
  packages/sdk-lsk/test/fixtures/client/three/broadcast-failure.json
  packages/sdk-lsk/test/fixtures/client/three/broadcast.json
  packages/sdk-lsk/test/fixtures/client/three/delegate.json
  packages/sdk-lsk/test/fixtures/client/three/delegates.json
  packages/sdk-lsk/test/fixtures/client/three/transaction-vote.json
  packages/sdk-lsk/test/fixtures/client/three/transaction.json
  packages/sdk-lsk/test/fixtures/client/three/transactions-delegate.json
  packages/sdk-lsk/test/fixtures/client/three/transactions-transfer.json
  packages/sdk-lsk/test/fixtures/client/three/transactions.json
  packages/sdk-lsk/test/fixtures/client/three/votes.json
  packages/sdk-lsk/test/fixtures/client/three/wallet.json
  packages/sdk-lsk/test/fixtures/client/three/wallets.json
  packages/sdk-lsk/test/fixtures/client/two/block.json
  packages/sdk-lsk/test/fixtures/client/two/blocks.json
  packages/sdk-lsk/test/fixtures/client/two/broadcast-failure.json
  packages/sdk-lsk/test/fixtures/client/two/broadcast.json
  packages/sdk-lsk/test/fixtures/client/two/delegate.json
  packages/sdk-lsk/test/fixtures/client/two/delegates.json
  packages/sdk-lsk/test/fixtures/client/two/peers.json
  packages/sdk-lsk/test/fixtures/client/two/transaction-betanet.json
  packages/sdk-lsk/test/fixtures/client/two/transaction.json
  packages/sdk-lsk/test/fixtures/client/two/transactions.json
  packages/sdk-lsk/test/fixtures/client/two/votes.json
  packages/sdk-lsk/test/fixtures/client/two/wallet-0.json
  packages/sdk-lsk/test/fixtures/client/two/wallet-1.json
  packages/sdk-lsk/test/fixtures/client/two/wallet-2.json
  packages/sdk-lsk/test/fixtures/client/two/wallet-3.json
  packages/sdk-lsk/test/fixtures/client/two/wallet.json
  packages/sdk-lsk/test/fixtures/client/two/wallets.json
  packages/sdk/source/ioc/service-provider.ts
Labels: Domain: LSK, Domain: SDK

#12 release: 1.0.7
  packages/sdk-ada/package.json
  packages/sdk-ark-musig/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-cli/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-http-got/package.json
  packages/sdk-http/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-markets/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-news/package.json
  packages/sdk-profiles/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: CLI, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: HTTP/got, Domain: LSK, Domain: Markets, Domain: NEO, Domain: News, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#13 refactor: require `id` and `amount` for votes
  packages/sdk-ark/source/transaction.service.test.ts
  packages/sdk-ark/source/transaction.service.ts
  packages/sdk-lsk/source/transaction-two.service.ts
  packages/sdk-profiles/source/wallet-transaction.service.test.ts
  packages/sdk/source/services/transaction.contract.ts
Labels: Domain: ARK, Domain: LSK, Domain: Profiles, Domain: SDK

#15 feat(lsk): add support for voting with 3.0
  packages/sdk-lsk/source/networks/lsk.testnet.ts
  packages/sdk-lsk/source/transaction-three.service.ts
Labels: Domain: LSK

#17 fix(profiles): expose more methods from notifications service
  packages/sdk-lsk/source/client-three.service.ts
  packages/sdk-lsk/source/helpers.ts
  packages/sdk-lsk/source/ledger.service.test.ts
  packages/sdk-lsk/source/transaction-three.service.ts
  packages/sdk-lsk/source/transaction.dto.ts
  packages/sdk-lsk/test/fixtures/client/three/delegates.json
  packages/sdk-profiles/source/env.test.ts
  packages/sdk-profiles/source/notification.repository.contract.ts
  packages/sdk-profiles/source/notification.service.test.ts
  packages/sdk-profiles/source/notification.service.ts
  packages/sdk-profiles/source/profile.contract.ts
  packages/sdk-profiles/source/profile.test.ts
  packages/sdk-profiles/source/profile.ts
  packages/sdk/source/ioc/service-provider.ts
Labels: Domain: LSK, Domain: Profiles, Domain: SDK

#23 release: 1.1.6
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-cli/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-http-got/package.json
  packages/sdk-http/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-profiles/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: CLI, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: HTTP/got, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#28 release: 1.1.10
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-cli/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-http-got/package.json
  packages/sdk-http/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-profiles/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: CLI, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: HTTP/got, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#26 feat(profiles): store and expose notification transactions
  packages/sdk-ark/source/transaction.service.test.ts
  packages/sdk-ark/source/transaction.service.ts
  packages/sdk-lsk/source/transaction-three.service.test.ts
  packages/sdk-lsk/source/transaction-three.service.ts
  packages/sdk-lsk/source/transaction-two.service.test.ts
  packages/sdk-lsk/source/transaction-two.service.ts
  packages/sdk-lsk/source/transaction.dto.ts
  packages/sdk-profiles/source/notification.releases.service.test.ts
  packages/sdk-profiles/source/notification.releases.service.ts
  packages/sdk-profiles/source/notification.repository.contract.ts
  packages/sdk-profiles/source/notification.transactions.service.test.ts
  packages/sdk-profiles/source/notification.transactions.service.ts
  packages/sdk-profiles/source/wallet-transaction.service.test.ts
  packages/sdk/source/services/transaction.contract.ts
Labels: Domain: ARK, Domain: LSK, Domain: Profiles, Domain: SDK

#30 refactor: return amount that was used for vote
  packages/sdk-ark/source/client.service.test.ts
  packages/sdk-ark/source/client.service.ts
  packages/sdk-lsk/source/client-three.service.test.ts
  packages/sdk-lsk/source/client-three.service.ts
  packages/sdk-lsk/source/client-two.service.test.ts
  packages/sdk-lsk/source/client-two.service.ts
  packages/sdk-profiles/source/wallet.synchroniser.ts
  packages/sdk/source/services/client.contract.ts
Labels: Domain: ARK, Domain: LSK, Domain: Profiles, Domain: SDK

#32 refactor(profiles): allow modification of raw data in migrator
  packages/sdk-profiles/source/migrator.test.ts
  packages/sdk-profiles/source/migrator.ts
  packages/sdk-profiles/source/profile.importer.ts
  packages/sdk/source/networks/network.test.ts
Labels: Domain: Profiles, Domain: SDK

#35 feat(profiles): implement `IProfileTransactionNotifications#isSyncing/markAllAsRead`
  packages/sdk-lsk/source/networks/lsk.testnet.ts
  packages/sdk-profiles/source/notification.repository.contract.ts
  packages/sdk-profiles/source/notification.transactions.service.test.ts
  packages/sdk-profiles/source/notification.transactions.service.ts
Labels: Domain: LSK, Domain: Profiles

#37 style(profiles): conform to syntax and naming conventions
  packages/sdk-profiles/source/notification.releases.service.test.ts
  packages/sdk-profiles/source/notification.releases.service.ts
  packages/sdk-profiles/source/notification.repository.contract.ts
  packages/sdk-profiles/source/notification.service.test.ts
  packages/sdk-profiles/source/notification.service.ts
  packages/sdk-profiles/source/notification.transactions.service.test.ts
  packages/sdk-profiles/source/notification.transactions.service.ts
  packages/sdk-profiles/source/profile.contract.ts
  packages/sdk-profiles/source/profile.test.ts
  packages/sdk-profiles/source/profile.ts
Labels: Domain: Profiles

#38 refactor(profiles): reduce complexity of notification transaction lookups
  packages/sdk-profiles/source/notification.transactions.service.ts
Labels: Domain: Profiles

#39 feat(ark): expose if a fee is dynamic
  packages/sdk-ark/source/fee.service.ts
  packages/sdk/source/services/fee.contract.ts
Labels: Domain: ARK, Domain: SDK

#40 release: 1.1.19
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-cli/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-http-got/package.json
  packages/sdk-http/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-profiles/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: CLI, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: HTTP/got, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#41 fix(sdk): use `coinName` in `Network#displayName`
  packages/sdk/source/networks/network.ts
Labels: Domain: SDK

#42 release: 1.1.20
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-cli/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-http-got/package.json
  packages/sdk-http/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-profiles/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: CLI, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: HTTP/got, Domain: LSK, Domain: NEO, Domain: Profiles, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#44 chore: move HTTP foundation into `sdk`
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/sdk-ada/package.json
  packages/sdk-ada/source/graphql-helpers.ts
  packages/sdk-ada/source/transaction.domain.ts
  packages/sdk-ark/package.json
  packages/sdk-ark/source/coin.provider.ts
  packages/sdk-ark/source/known-wallets.service.ts
  packages/sdk-ark/source/multi-signature.service.ts
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-btc/source/unspent-aggregator.ts
  packages/sdk-cli/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-http-got/package.json
  packages/sdk-http-got/source/request.test.ts
  packages/sdk-http-got/source/request.ts
  packages/sdk-http/LICENSE
  packages/sdk-http/README.md
  packages/sdk-http/banner.png
  packages/sdk-http/package.json
  packages/sdk-http/tsconfig.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-nano/source/rpc.ts
  packages/sdk-neo/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/package.json
  packages/sdk/source/coins/contracts.ts
  packages/sdk/source/http/contracts.ts
  packages/sdk/source/http/exceptions.test.ts
  packages/sdk/source/http/exceptions.ts
  packages/sdk/source/http/index.ts
  packages/sdk/source/http/request.models.ts
  packages/sdk/source/http/request.test.ts
  packages/sdk/source/http/request.ts
  packages/sdk/source/http/response.test.ts
  packages/sdk/source/http/response.ts
  packages/sdk/source/http/urls.test.ts
  packages/sdk/source/http/urls.ts
  packages/sdk/source/index.ts
  packages/sdk/source/services/client.service.ts
  packages/sdk/source/services/fee.service.ts
  packages/sdk/source/services/transaction.service.ts
  rush.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: CLI, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: HTTP/got, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#46 chore: deprecate `@payvo/sdk-http-got`
  .github/labeler.yml
  .github/workflows/ci.yml
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/sdk-ada/package.json
  packages/sdk-ada/test/mocking.ts
  packages/sdk-ark/package.json
  packages/sdk-ark/test/mocking.ts
  packages/sdk-atom/package.json
  packages/sdk-atom/test/mocking.ts
  packages/sdk-avax/package.json
  packages/sdk-avax/test/mocking.ts
  packages/sdk-btc/package.json
  packages/sdk-btc/test/mocking.ts
  packages/sdk-cli/package.json
  packages/sdk-dot/package.json
  packages/sdk-dot/test/mocking.ts
  packages/sdk-egld/package.json
  packages/sdk-egld/test/mocking.ts
  packages/sdk-eos/package.json
  packages/sdk-eos/test/mocking.ts
  packages/sdk-eth/package.json
  packages/sdk-eth/test/mocking.ts
  packages/sdk-http-got/LICENSE
  packages/sdk-http-got/README.md
  packages/sdk-http-got/banner.png
  packages/sdk-http-got/package.json
  packages/sdk-http-got/source/index.ts
  packages/sdk-http-got/source/request.test.ts
  packages/sdk-http-got/source/request.ts
  packages/sdk-http-got/test/fixtures/feed.xml
  packages/sdk-http-got/tsconfig.json
  packages/sdk-lsk/package.json
  packages/sdk-lsk/test/mocking.ts
  packages/sdk-luna/package.json
  packages/sdk-luna/test/mocking.ts
  packages/sdk-nano/package.json
  packages/sdk-nano/test/mocking.ts
  packages/sdk-neo/package.json
  packages/sdk-neo/test/mocking.ts
  packages/sdk-sol/package.json
  packages/sdk-sol/test/mocking.ts
  packages/sdk-trx/package.json
  packages/sdk-trx/test/mocking.ts
  packages/sdk-xlm/package.json
  packages/sdk-xlm/test/mocking.ts
  packages/sdk-xrp/package.json
  packages/sdk-xrp/test/mocking.ts
  packages/sdk-zil/package.json
  packages/sdk-zil/test/mocking.ts
  packages/sdk/package.json
  packages/sdk/source/coins/coin-factory.test.ts
  packages/sdk/source/coins/coin.test.ts
  packages/sdk/source/services/client.service.ts
  packages/sdk/source/services/fee.service.ts
  packages/sdk/source/services/transaction.service.ts
  rush.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: HTTP/got, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL, ci

#47 release: 1.2.1
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#48 refactor(sdk): remove duplicate function in paginator
  packages/sdk-lsk/source/transaction-three.service.test.ts
  packages/sdk-lsk/source/transaction-three.service.ts
  packages/sdk/source/collections/paginator.test.ts
  packages/sdk/source/collections/paginator.ts
Labels: Domain: LSK, Domain: SDK

#50 refactor(sdk): implement `MultiSignatureService#addSignature` method
  packages/sdk-ark/source/multi-signature.service.test.ts
  packages/sdk-ark/source/multi-signature.service.ts
  packages/sdk-ark/source/multi-signature.signer.ts
  packages/sdk-ark/source/transaction.service.ts
  packages/sdk-lsk/source/multi-signature.service.ts
  packages/sdk-lsk/source/transaction-three.service.test.ts
  packages/sdk-lsk/source/transaction-three.service.ts
  packages/sdk/source/services/multi-signature.contract.ts
  packages/sdk/source/services/multi-signature.service.ts
  packages/sdk/source/services/transaction.contract.ts
  packages/sdk/source/services/transaction.service.ts
Labels: Domain: ARK, Domain: LSK, Domain: SDK

#52 refactor(sdk): update `WalletMultiSignature` interface
  packages/sdk-ark/source/transaction.service.ts
  packages/sdk-lsk/source/transaction-three.service.test.ts
  packages/sdk-lsk/source/transaction-three.service.ts
  packages/sdk/source/services/transaction.contract.ts
Labels: Domain: ARK, Domain: LSK, Domain: SDK

#53 test(lsk): add coverage for `PendingMultiSignatureTransaction`
  packages/sdk-lsk/source/multi-signature.contract.ts
  packages/sdk-lsk/source/multi-signature.transaction.test.ts
  packages/sdk-lsk/source/multi-signature.transaction.ts
Labels: Domain: LSK

#54 refactor(lsk): use JSON-RPC for multi-signature service
  packages/sdk-lsk/source/multi-signature.service.ts
Labels: Domain: LSK

#55 refactor(lsk): format asset according to the transaction type
  packages/sdk-lsk/source/transaction-three.service.ts
Labels: Domain: LSK

#57 release: 1.3.1
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#59 refactor(lsk): clean up broadcasting implementation
  packages/sdk-lsk/source/asset.serializer.ts
  packages/sdk-lsk/source/client-three.service.test.ts
  packages/sdk-lsk/source/client-three.service.ts
  packages/sdk-lsk/source/coin.contract.ts
  packages/sdk-lsk/source/coin.provider.ts
  packages/sdk-lsk/source/helpers.ts
  packages/sdk-lsk/source/multi-signature.service.ts
  packages/sdk-lsk/source/networks/lsk.testnet.ts
  packages/sdk-lsk/source/signed-transaction.dto.test.ts
  packages/sdk-lsk/source/signed-transaction.dto.ts
  packages/sdk-lsk/source/transaction-three.service.test.ts
  packages/sdk-lsk/source/transaction-three.service.ts
  packages/sdk-lsk/source/transaction.serializer.ts
  packages/sdk/source/services/multi-signature.service.ts
Labels: Domain: LSK, Domain: SDK

#60 test(lsk): coverage for `SignedTransactionData`
  packages/sdk-lsk/source/signed-transaction.dto.test.ts
  packages/sdk-lsk/source/signed-transaction.dto.ts
Labels: Domain: LSK

#61 test(lsk): coverage for `AssetSerializer`
  packages/sdk-lsk/source/__snapshots__/asset.serializer.test.ts.snap
  packages/sdk-lsk/source/asset.serializer.test.ts
  packages/sdk-lsk/source/asset.serializer.ts
Labels: Domain: LSK

#62 test(lsk): coverage for `TransactionSerializer`
  packages/sdk-lsk/source/__snapshots__/transaction.serializer.test.ts.snap
  packages/sdk-lsk/source/asset.serializer.test.ts
  packages/sdk-lsk/source/asset.serializer.ts
  packages/sdk-lsk/source/signed-transaction.dto.test.ts
  packages/sdk-lsk/source/transaction.serializer.test.ts
  packages/sdk-lsk/source/transaction.serializer.ts
Labels: Domain: LSK

#64 refactor(lsk): improve `usesMultiSignature` checks
  packages/sdk-lsk/source/signed-transaction.dto.test.ts
  packages/sdk-lsk/source/signed-transaction.dto.ts
Labels: Domain: LSK

#65 release: 1.3.5
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#66 test(lsk): add basic coverage for multi-signature signing
  packages/sdk-lsk/source/__snapshots__/multi-signature.service.test.ts.snap
  packages/sdk-lsk/source/__snapshots__/transaction-three.service.test.ts.snap
  packages/sdk-lsk/source/client-three.service.test.ts
  packages/sdk-lsk/source/multi-signature.service.test.ts
  packages/sdk-lsk/source/multi-signature.service.ts
  packages/sdk-lsk/source/transaction-three.service.test.ts
  packages/sdk-lsk/source/transaction-three.service.ts
  packages/sdk-lsk/source/transaction.serializer.ts
  packages/sdk-lsk/test/fixtures/musig/lskn2de9mo9z3g9jvbpj4yjn84vrvjzcn5c5mon7a.json
  packages/sdk-lsk/test/fixtures/musig/lskp4agpmjwgw549xdrhgdt6dfwqrpvohgbkhyt8p.json
Labels: Domain: LSK

#68 refactor(lsk): humanize signed transaction data
  packages/sdk-lsk/source/__snapshots__/multi-signature.service.test.ts.snap
  packages/sdk-lsk/source/__snapshots__/transaction-three.service.test.ts.snap
  packages/sdk-lsk/source/multi-signature.service.ts
  packages/sdk-lsk/source/transaction-three.service.ts
Labels: Domain: LSK

#70 fix(lsk): normalise multi-signature transactions
  packages/sdk-lsk/source/multi-signature.service.ts
Labels: Domain: LSK

#72 release: 1.3.9
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#73 release: 1.3.10
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#74 release: 1.3.11
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#75 fix(lsk): always return boolean from `isMultiSignature`
  packages/sdk-lsk/source/wallet.dto.ts
Labels: Domain: LSK

#78 fix(lsk): adjust balance lookup for wallets with missing balance
  packages/sdk-lsk/source/wallet.dto.ts
Labels: Domain: LSK

#77 refactor(lsk): further normalise data
  packages/sdk-lsk/source/__snapshots__/multi-signature.service.test.ts.snap
  packages/sdk-lsk/source/__snapshots__/transaction-three.service.test.ts.snap
  packages/sdk-lsk/source/multi-signature.service.ts
  packages/sdk-lsk/source/transaction-three.service.test.ts
  packages/sdk-lsk/source/transaction-three.service.ts
  packages/sdk-lsk/source/transaction-two.service.ts
  packages/sdk-lsk/source/transaction.dto.ts
  packages/sdk-lsk/source/wallet.dto.ts
  packages/sdk/source/dto/signed-transaction.contract.ts
  packages/sdk/source/dto/signed-transaction.ts
  packages/sdk/source/services/data-transfer-object.contract.ts
  packages/sdk/source/services/data-transfer-object.service.ts
Labels: Domain: LSK, Domain: SDK

#79 refactor(sdk): update multi-signature interface
  packages/sdk-lsk/source/__snapshots__/multi-signature.service.test.ts.snap
  packages/sdk-lsk/source/__snapshots__/transaction-three.service.test.ts.snap
  packages/sdk-lsk/source/multi-signature.service.test.ts
  packages/sdk-lsk/source/transaction-three.service.test.ts
  packages/sdk-lsk/source/transaction-three.service.ts
  packages/sdk/source/contracts.ts
  packages/sdk/source/services/transaction.contract.ts
Labels: Domain: LSK, Domain: SDK

#81 release: 1.3.16
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#84 chore: update dependencies
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-lsk/package.json
  packages/sdk-lsk/source/asset.serializer.ts
  packages/sdk-lsk/source/multi-signature.domain.ts
  packages/sdk-lsk/source/multi-signature.service.ts
  packages/sdk-lsk/source/multi-signature.transaction.ts
  packages/sdk-lsk/source/transaction-three.service.ts
  packages/sdk-lsk/source/transaction.dto.ts
  packages/sdk-lsk/source/transaction.serializer.ts
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#85 chore(ark): update BIND manifests
  packages/sdk-ark/source/networks/bind.mainnet.ts
  packages/sdk-ark/source/networks/bind.testnet.ts
  packages/sdk/source/networks/network-repository.test.ts
Labels: Domain: ARK, Domain: SDK

#83 chore: update hosts for ARK and LSK
  packages/sdk-ark/source/coin.provider.ts
  packages/sdk-ark/source/networks/ark.devnet.ts
  packages/sdk-ark/source/networks/ark.mainnet.ts
  packages/sdk-lsk/source/client-three.service.ts
  packages/sdk-lsk/source/networks/lsk.mainnet.ts
  packages/sdk-lsk/source/networks/lsk.testnet.ts
  packages/sdk/source/coins/coin-factory.test.ts
  packages/sdk/source/coins/coin.test.ts
  packages/sdk/source/networks/network-repository.test.ts
  packages/sdk/source/networks/network.test.ts
  packages/sdk/test/livenet/blockchain.json
  packages/sdk/test/livenet/configuration-crypto.json
  packages/sdk/test/livenet/configuration.json
  packages/sdk/test/livenet/syncing.json
  packages/sdk/test/testnet/blockchain.json
  packages/sdk/test/testnet/configuration-crypto.json
  packages/sdk/test/testnet/configuration.json
  packages/sdk/test/testnet/syncing.json
Labels: Domain: ARK, Domain: LSK, Domain: SDK

#88 feat(sdk): expose multi-signature type
  packages/sdk-lsk/source/networks/shared.ts
  packages/sdk/source/networks/network.models.ts
  packages/sdk/source/networks/network.test.ts
  packages/sdk/source/networks/network.ts
  packages/sdk/test/livenet/configuration-crypto.json
Labels: Domain: LSK, Domain: SDK

#89 fix(lsk): use input fee
  packages/sdk-lsk/source/__snapshots__/multi-signature.service.test.ts.snap
  packages/sdk-lsk/source/__snapshots__/transaction-three.service.test.ts.snap
  packages/sdk-lsk/source/multi-signature.service.test.ts
  packages/sdk-lsk/source/transaction-three.service.test.ts
  packages/sdk-lsk/source/transaction-three.service.ts
Labels: Domain: LSK

#91 feat(lsk): implement transaction fee calculation
  packages/sdk-lsk/source/fee.service.test.ts
  packages/sdk-lsk/source/fee.service.ts
  packages/sdk-lsk/source/networks/lsk.testnet.ts
  packages/sdk-lsk/source/transaction-three.service.test.ts
  packages/sdk-lsk/test/fixtures/client/three/fees.json
  packages/sdk/source/services/fee.contract.ts
  packages/sdk/source/services/fee.service.ts
Labels: Domain: LSK, Domain: SDK

#93 refactor(lsk): calculate transaction fee if none is provided
  packages/sdk-lsk/source/multi-signature.service.test.ts
  packages/sdk-lsk/source/transaction-three.service.test.ts
  packages/sdk-lsk/source/transaction-three.service.ts
Labels: Domain: LSK

#94 feat(sdk): indicate `FeeService#calculate` support
  packages/sdk-lsk/source/networks/lsk.testnet.ts
  packages/sdk/source/enums.test.ts
  packages/sdk/source/enums.ts
  packages/sdk/source/networks/network.models.ts
Labels: Domain: LSK, Domain: SDK

#96 feat: implement `MultiSignatureService#forgetById`
  packages/sdk-ark/source/multi-signature.service.ts
  packages/sdk-lsk/source/multi-signature.service.ts
  packages/sdk/source/services/multi-signature.contract.ts
  packages/sdk/source/services/multi-signature.service.ts
Labels: Domain: ARK, Domain: LSK, Domain: SDK

#97 release: 1.3.25
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#99 fix(ark): skip second mnemonic if it isn't the final signature
  packages/sdk-ark/source/multi-signature.signer.ts
Labels: Domain: ARK

#98 refactor(sdk): add `multiSignature` property for signatories
  packages/sdk-ada/source/client.service.test.ts
  packages/sdk-ada/source/client.service.ts
  packages/sdk-ada/source/transaction.service.test.ts
  packages/sdk-ark/source/transaction.service.test.ts
  packages/sdk-ark/source/transaction.service.ts
  packages/sdk-ark/test/fixtures/client/DKkBL5Mg9v1TPcKQrcUuW1VQrVFu8bh82Q.json
  packages/sdk-atom/source/transaction.service.ts
  packages/sdk-lsk/source/transaction-three.service.ts
  packages/sdk-nano/source/transaction.service.test.ts
  packages/sdk-trx/source/transaction.service.test.ts
  packages/sdk-xlm/source/client.service.test.ts
  packages/sdk-xlm/source/transaction.service.test.ts
  packages/sdk-zil/source/transaction.service.test.ts
  packages/sdk/source/services/multi-signature.contract.ts
  packages/sdk/source/services/shared.contract.ts
  packages/sdk/source/services/signatory.service.ts
  packages/sdk/source/services/transaction.service.ts
  packages/sdk/source/signatories/multi-signature.ts
  packages/sdk/source/signatories/signatory.test.ts
  packages/sdk/source/signatories/signatory.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: LSK, Domain: SDK, Domain: TRX, Domain: XLM, Domain: ZIL

#102 fix(ark): add signature if multi signature registration is created
  packages/sdk-ark/source/transaction.service.ts
Labels: Domain: ARK

#105 refactor(sdk): rename `Secondary` to `Confirmation`
  packages/sdk-ark/source/multi-signature.signer.ts
  packages/sdk-ark/source/transaction.service.ts
  packages/sdk-lsk/source/multi-signature.service.ts
  packages/sdk-lsk/source/transaction-three.service.ts
  packages/sdk-lsk/source/transaction-two.service.ts
  packages/sdk/source/services/signatory.contract.ts
  packages/sdk/source/services/signatory.service.ts
  packages/sdk/source/signatories/confirmation-mnemonic.ts
  packages/sdk/source/signatories/confirmation-wif.ts
  packages/sdk/source/signatories/index.ts
  packages/sdk/source/signatories/signatory.ts
Labels: Domain: ARK, Domain: LSK, Domain: SDK

#106 refactor(sdk): remove deprecated signatories
  packages/sdk-ark/source/multi-signature.signer.ts
  packages/sdk-ark/source/transaction.service.ts
  packages/sdk-lsk/source/transaction-two.service.test.ts
  packages/sdk/source/services/signatory.contract.ts
  packages/sdk/source/services/signatory.service.ts
  packages/sdk/source/signatories/abstract-value-signatory.ts
  packages/sdk/source/signatories/index.ts
  packages/sdk/source/signatories/multi-mnemonic.ts
  packages/sdk/source/signatories/multi-signature.ts
  packages/sdk/source/signatories/private-multi-signature.ts
  packages/sdk/source/signatories/sender-public-key.ts
  packages/sdk/source/signatories/signatory.test.ts
  packages/sdk/source/signatories/signatory.ts
Labels: Domain: ARK, Domain: LSK, Domain: SDK

#104 fix(ark): get adress with with secondary wif
  packages/sdk-ark/source/transaction.service.test.ts
  packages/sdk-ark/source/transaction.service.ts
Labels: Domain: ARK

#108 fix(sdk): reintroduce `MultiSignatureSignatory`
  packages/sdk-ark/source/multi-signature.signer.ts
  packages/sdk-ark/source/transaction.service.ts
  packages/sdk/source/services/signatory.contract.ts
  packages/sdk/source/services/signatory.service.ts
  packages/sdk/source/signatories/index.ts
  packages/sdk/source/signatories/multi-signature.ts
  packages/sdk/source/signatories/signatory.test.ts
  packages/sdk/source/signatories/signatory.ts
Labels: Domain: ARK, Domain: SDK

#110 chore(lsk): remove testnet conditions and flags
  common/scripts/manifest-updater.js
  packages/sdk-lsk/source/__snapshots__/ledger.service.test.ts.snap
  packages/sdk-lsk/source/__snapshots__/transaction.service.test.ts.snap
  packages/sdk-lsk/source/address.service.ts
  packages/sdk-lsk/source/client-two.service.test.ts
  packages/sdk-lsk/source/client-two.service.ts
  packages/sdk-lsk/source/client.service.test.ts
  packages/sdk-lsk/source/client.service.ts
  packages/sdk-lsk/source/coin.provider.ts
  packages/sdk-lsk/source/coin.services.ts
  packages/sdk-lsk/source/fee.service.test.ts
  packages/sdk-lsk/source/helpers.ts
  packages/sdk-lsk/source/ledger.service.test.ts
  packages/sdk-lsk/source/ledger.service.ts
  packages/sdk-lsk/source/multi-signature.service.test.ts
  packages/sdk-lsk/source/networks/lsk.mainnet.ts
  packages/sdk-lsk/source/networks/lsk.testnet.ts
  packages/sdk-lsk/source/networks/shared.ts
  packages/sdk-lsk/source/transaction-two.service.test.ts
  packages/sdk-lsk/source/transaction-two.service.ts
  packages/sdk-lsk/source/transaction.service.test.ts
  packages/sdk-lsk/source/transaction.service.ts
Labels: Domain: LSK

#111 fix(ark): derive sender public key based on input
  packages/sdk-ark/source/transaction.service.ts
Labels: Domain: ARK

#115 fix(ark): derive address if multi-signature asset is available
  packages/sdk-ark/source/transaction.service.ts
Labels: Domain: ARK

#116 release: 1.5.2
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#118 fix(ark): handle missing compendia fees
  packages/sdk-ark/source/__snapshots__/fee.service.test.ts.snap
  packages/sdk-ark/source/fee.service.test.ts
  packages/sdk-ark/source/fee.service.ts
  packages/sdk-ark/test/fixtures/client/feesByNode-bind.json
  packages/sdk-ark/test/fixtures/client/feesByType-bind.json
Labels: Domain: ARK

#117 refactor(lsk): cleaner timestamp calculation for unlocks
  packages/sdk-ark/source/transaction.service.ts
  packages/sdk-lsk/source/client.service.test.ts
  packages/sdk-lsk/source/client.service.ts
Labels: Domain: ARK, Domain: LSK

#120 fix(ark): prevent signing of multi-signature registration with ledger
  packages/sdk-ark/source/fee.service.test.ts
  packages/sdk-ark/source/transaction.service.ts
Labels: Domain: ARK

#122 fix(ark): resolve ledger signature
  packages/sdk-ark/source/multi-signature.signer.ts
Labels: Domain: ARK

#124 fix(btc): response wrapped in data element
  packages/sdk-btc/source/client.service.ts
  packages/sdk-btc/source/transaction.dto.test.ts
  packages/sdk-btc/source/wallet.dto.test.ts
  packages/sdk-btc/test/fixtures/client/broadcast-failure.json
  packages/sdk-btc/test/fixtures/client/broadcast.json
  packages/sdk-btc/test/fixtures/client/transaction.json
  packages/sdk-btc/test/fixtures/client/wallet.json
Labels: Domain: BTC

#127 fix(btc): urls for payvo bitcoin servers
  packages/sdk-btc/source/client.service.test.ts
  packages/sdk-btc/source/networks/btc.livenet.ts
  packages/sdk-btc/source/networks/btc.testnet.ts
  packages/sdk/source/networks/network-repository.test.ts
  packages/sdk/source/networks/network.test.ts
Labels: Domain: BTC, Domain: SDK
