Repository ArkEcosystem/payvo-sdk, pull requests merged in 2021-09, with the labels that each got.

#193 fix(lsk): default votes to empty array on wallet without votes
  packages/sdk-lsk/source/client.service.ts
Labels: Domain: LSK

#178 feat(btc): implement `TransactionService#transfer`
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/sdk-ark/source/client.service.ts
  packages/sdk-btc/package.json
  packages/sdk-btc/source/__snapshots__/fee.service.test.ts.snap
  packages/sdk-btc/source/__snapshots__/transaction.dto.test.ts.snap
  packages/sdk-btc/source/address.factory.ts
  packages/sdk-btc/source/address.service.test.ts
  packages/sdk-btc/source/client.service.ts
  packages/sdk-btc/source/coin.provider.ts
  packages/sdk-btc/source/coin.services.ts
  packages/sdk-btc/source/contracts.ts
  packages/sdk-btc/source/fee.service.test.ts
  packages/sdk-btc/source/fee.service.ts
  packages/sdk-btc/source/helpers.ts
  packages/sdk-btc/source/signed-transaction.dto.test.ts
  packages/sdk-btc/source/signed-transaction.dto.ts
  packages/sdk-btc/source/transaction.domain.ts
  packages/sdk-btc/source/transaction.dto.test.ts
  packages/sdk-btc/source/transaction.dto.ts
  packages/sdk-btc/source/transaction.service.test.ts
  packages/sdk-btc/source/transaction.service.ts
  packages/sdk-btc/source/unspent-aggregator.ts
Labels: Domain: ARK, Domain: BTC

#202 refactor(ark): remove duplicate musig signatures
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/sdk-ark/package.json
  packages/sdk-ark/source/multi-signature.service.ts
Labels: Domain: ARK

#203 fix(lsk): unlocking prop missing in accounts response
  packages/sdk-eth/source/public-key.service.ts
  packages/sdk-lsk/source/client.service.test.ts
  packages/sdk-lsk/source/client.service.ts
Labels: Domain: ETH, Domain: LSK

#206 feat(lsk): calculate fee from signed transaction data
  packages/sdk-lsk/source/fee.service.test.ts
  packages/sdk-lsk/source/fee.service.ts
  packages/sdk-lsk/source/transaction.serializer.ts
Labels: Domain: LSK

#207 feat(ark): calculate transaction fee from signed transaction
  packages/sdk-ark/source/fee.service.test.ts
  packages/sdk-ark/source/fee.service.ts
  packages/sdk-lsk/source/fee.service.ts
Labels: Domain: ARK, Domain: LSK

#211 refactor(lsk): invert production/legacy conditions
  packages/sdk-lsk/source/transaction-type.service.ts
  packages/sdk-lsk/source/transaction.dto.ts
Labels: Domain: LSK

#209 feat: add unlockToken transaction type
  packages/sdk-lsk/source/client.service.test.ts
  packages/sdk-lsk/source/signed-transaction.dto.test.ts
  packages/sdk-lsk/source/signed-transaction.dto.ts
  packages/sdk-lsk/source/transaction-type.service.ts
  packages/sdk-lsk/source/transaction.dto.ts
  packages/sdk/source/dto/confirmed-transaction.contract.ts
  packages/sdk/source/dto/confirmed-transaction.test.ts
  packages/sdk/source/dto/confirmed-transaction.ts
  packages/sdk/source/dto/signed-transaction.contract.ts
  packages/sdk/source/dto/signed-transaction.ts
Labels: Domain: SDK, Domain: LSK

#212 fix(lsk): persist `toMachine` mutations for `unlockToken` transaction
  packages/sdk-lsk/source/transaction.serializer.ts
Labels: Domain: LSK

#215 test(lsk): add `unlockToken` type to transaction serializer test
  packages/sdk-lsk/source/__snapshots__/transaction.serializer.test.ts.snap
  packages/sdk-lsk/source/transaction.serializer.test.ts
Labels: Domain: LSK

#214 refactor(lsk): rename `unlockBalance` to `unlockToken`
  packages/sdk-lsk/source/client.service.ts
  packages/sdk-lsk/source/transaction.service.test.ts
  packages/sdk-lsk/source/transaction.service.ts
  packages/sdk/source/services/client.contract.ts
  packages/sdk/source/services/client.service.ts
  packages/sdk/source/services/transaction.contract.ts
  packages/sdk/source/services/transaction.service.ts
Labels: Domain: SDK, Domain: LSK

#216 refactor(lsk): calculate amount of `unlockToken` transaction
  packages/sdk-lsk/source/signed-transaction.dto.test.ts
  packages/sdk-lsk/source/signed-transaction.dto.ts
Labels: Domain: LSK

#218 refactor(lsk): calculate amount of `unlockToken` confirmed transaction
  packages/sdk-lsk/source/transaction.dto.test.ts
  packages/sdk-lsk/source/transaction.dto.ts
Labels: Domain: LSK

#220 chore: update `@payvo/cryptography` dependency
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#221 chore: add `unlockToken` transaction feature flag
  common/scripts/manifest-updater.js
  packages/sdk-lsk/source/networks/shared.ts
  packages/sdk/source/enums.test.ts
  packages/sdk/source/enums.ts
  packages/sdk/source/networks/network.models.ts
Labels: Domain: SDK, Domain: LSK

#222 fix(lsk): mark fees as size-based
  packages/sdk-lsk/source/networks/shared.ts
  packages/sdk/source/networks/network.models.ts
Labels: Domain: SDK, Domain: LSK

#225 fix(ark): change special handling to `bind` networks only
  packages/sdk-ark/source/client.service.ts
Labels: Domain: ARK

#227 feat(btc): support ledger signatory options
  packages/sdk/source/services/signatory.service.ts
  packages/sdk/source/signatories/ledger.ts
  packages/sdk/source/signatories/signatory.test.ts
  packages/sdk/source/signatories/signatory.ts
Labels: Domain: SDK

#226 feat(btc): ledger service retrieves extended pub key for account
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/sdk-btc/package.json
  packages/sdk-btc/source/helpers.ts
  packages/sdk-btc/source/ledger.service.test.ts
  packages/sdk-btc/source/ledger.service.ts
  packages/sdk-btc/test/fixtures/ledger.ts
Labels: Domain: BTC

#224 fix(lsk): refactor transaction serializer and fee handling
  packages/sdk-lsk/source/__snapshots__/asset.serializer.test.ts.snap
  packages/sdk-lsk/source/asset.serializer.test.ts
  packages/sdk-lsk/source/asset.serializer.ts
  packages/sdk-lsk/source/fee.service.test.ts
  packages/sdk-lsk/source/fee.service.ts
  packages/sdk-lsk/source/transaction.serializer.ts
  packages/sdk-lsk/source/transaction.service.test.ts
  packages/sdk-lsk/source/transaction.service.ts
Labels: Domain: LSK

#228 fix(lsk): update `isDelegate` mapping in wallet DTO
  packages/sdk-lsk/source/client.service.test.ts
  packages/sdk-lsk/source/wallet.dto.test.ts
  packages/sdk-lsk/source/wallet.dto.ts
  packages/sdk-lsk/test/fixtures/client/wallet.json
Labels: Domain: LSK

#229 fix(lsk): always subtract minimum balance
  packages/sdk-lsk/source/client.service.test.ts
  packages/sdk-lsk/source/wallet.dto.test.ts
  packages/sdk-lsk/source/wallet.dto.ts
Labels: Domain: LSK

#230 fix(lsk): update `username` mapping on signed transaction DTO
  packages/sdk-lsk/source/signed-transaction.dto.test.ts
  packages/sdk-lsk/source/signed-transaction.dto.ts
Labels: Domain: LSK

#231 fix(lsk): reduce `votesPerWallet` for LSK from 20 to 10
  packages/sdk-lsk/source/networks/shared.ts
Labels: Domain: LSK

#219 feat(btc): sign transactions with ledger
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/sdk-btc/package.json
  packages/sdk-btc/source/address.domain.ts
  packages/sdk-btc/source/address.factory.ts
  packages/sdk-btc/source/address.service.test.ts
  packages/sdk-btc/source/coin.provider.ts
  packages/sdk-btc/source/constants.ts
  packages/sdk-btc/source/contracts.ts
  packages/sdk-btc/source/helpers.ts
  packages/sdk-btc/source/ledger.service.test.ts
  packages/sdk-btc/source/ledger.service.ts
  packages/sdk-btc/source/transaction.domain.ts
  packages/sdk-btc/source/transaction.service.ledger.test.ts
  packages/sdk-btc/source/transaction.service.test.ts
  packages/sdk-btc/source/transaction.service.ts
  packages/sdk-btc/source/wallet-data-helper.test.ts
  packages/sdk-btc/source/wallet-data-helper.ts
  packages/sdk-btc/test/fixtures/ledger.ts
Labels: Domain: BTC
