Repository ArkEcosystem/payvo-sdk, pull requests merged in 2021-10, with the labels that each got.

#233 fix(bind): set fees to static
  packages/sdk-ark/source/networks/bind.mainnet.ts
  packages/sdk-ark/source/networks/bind.testnet.ts
  packages/sdk/source/networks/network-repository.test.ts
Labels: Domain: SDK, Domain: ARK

#234 test(ark): fix v2 mocks in client service tests
  packages/sdk-ark/source/client.service.test.ts
Labels: Domain: ARK

#235 fix(ark): update `FeeService` to take fee type into account
  packages/sdk-ark/source/__snapshots__/fee.service.test.ts.snap
  packages/sdk-ark/source/fee.service.test.ts
  packages/sdk-ark/source/fee.service.ts
Labels: Domain: ARK

#232 feat(btc): addressing schemas for musig
  packages/sdk-btc/source/address.domain.test.ts
  packages/sdk-btc/source/address.domain.ts
  packages/sdk-btc/source/address.factory.ts
  packages/sdk-btc/source/contracts.ts
  packages/sdk-btc/source/musig-wallet-data-helper.test.ts
  packages/sdk-btc/source/musig-wallet-data-helper.ts
  packages/sdk-btc/test/fixtures/musig.ts
Labels: Domain: BTC

#236 chore(lsk): enable bip39 encryption
  packages/sdk-lsk/source/networks/shared.ts
Labels: Domain: LSK

#239 fix(lsk): use locale on BIP39 validation
  packages/sdk-ark/source/key-pair.service.ts
  packages/sdk-lsk/source/address.service.test.ts
  packages/sdk-lsk/source/address.service.ts
  packages/sdk-lsk/source/key-pair.service.test.ts
  packages/sdk-lsk/source/key-pair.service.ts
  packages/sdk-lsk/source/private-key.service.test.ts
  packages/sdk-lsk/source/private-key.service.ts
  packages/sdk-lsk/source/public-key.service.test.ts
  packages/sdk-lsk/source/public-key.service.ts
  packages/sdk-lsk/source/wif.service.test.ts
  packages/sdk-lsk/source/wif.service.ts
  packages/sdk-lsk/test/fixtures/identity.ts
Labels: Domain: ARK, Domain: LSK

#240 refactor: revert `bip39Locale` parameter
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-ark/source/address.service.test.ts
  packages/sdk-ark/source/address.service.ts
  packages/sdk-ark/source/key-pair.service.test.ts
  packages/sdk-ark/source/key-pair.service.ts
  packages/sdk-ark/source/private-key.service.test.ts
  packages/sdk-ark/source/private-key.service.ts
  packages/sdk-ark/source/public-key.service.test.ts
  packages/sdk-ark/source/public-key.service.ts
  packages/sdk-ark/source/wif.service.test.ts
  packages/sdk-ark/source/wif.service.ts
  packages/sdk-ark/test/fixtures/identity.ts
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-lsk/package.json
  packages/sdk-lsk/source/address.service.test.ts
  packages/sdk-lsk/source/address.service.ts
  packages/sdk-lsk/source/key-pair.service.test.ts
  packages/sdk-lsk/source/key-pair.service.ts
  packages/sdk-lsk/source/networks/shared.ts
  packages/sdk-lsk/source/private-key.service.test.ts
  packages/sdk-lsk/source/private-key.service.ts
  packages/sdk-lsk/source/public-key.service.test.ts
  packages/sdk-lsk/source/public-key.service.ts
  packages/sdk-lsk/source/wif.service.test.ts
  packages/sdk-lsk/source/wif.service.ts
  packages/sdk-lsk/test/fixtures/identity.ts
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/source/services/shared.contract.ts
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL, Domain: SDK

#250 chore: add missing dependencies
  common/config/rush/browser-approved-packages.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/sdk-avax/package.json
  packages/sdk-btc/source/transaction.service.ts
Labels: Domain: AVAX, Domain: BTC

#251 refactor(ark): avoid adding duplicate signatures in `MultiSignatureSigner`
  packages/sdk-ark/source/multi-signature.service.test.ts
  packages/sdk-ark/source/multi-signature.signer.ts
Labels: Domain: ARK

#255 chore(btc): remove test imports from production files
  packages/sdk-btc/source/transaction.service.ts
Labels: Domain: BTC

#257 fix(zil): bind zilliqa SDK instance to container
  packages/sdk-zil/source/address.service.test.ts
  packages/sdk-zil/source/address.service.ts
  packages/sdk-zil/source/client.service.test.ts
  packages/sdk-zil/source/client.service.ts
  packages/sdk-zil/source/coin.provider.ts
  packages/sdk-zil/source/constants.ts
  packages/sdk-zil/source/key-pair.service.test.ts
  packages/sdk-zil/source/key-pair.service.ts
  packages/sdk-zil/source/private-key.service.test.ts
  packages/sdk-zil/source/private-key.service.ts
  packages/sdk-zil/source/public-key.service.test.ts
  packages/sdk-zil/source/public-key.service.ts
  packages/sdk-zil/source/transaction.service.test.ts
  packages/sdk-zil/source/zilliqa.ts
  packages/sdk-zil/test/mocking.ts
Labels: Domain: ZIL

#273 chore: add `discovery` to supported import methods
  packages/sdk-btc/source/networks/shared.ts
  packages/sdk/source/networks/network.models.ts
Labels: SDK, BTC

#311 fix(lsk): set search params based on transaction type
  packages/sdk-lsk/source/client.service.ts
Labels: bugfix

#312 fix(ark): transaction type for legacy coins
  packages/sdk-ark/source/client.service.ts
Labels: bugfix
