Repository ArkEcosystem/payvo-sdk, pull requests merged in 2021-08, with the labels that each got.

#128 feat(ark): implement multi-signature fee calculation
  packages/sdk-ark/source/fee.service.test.ts
  packages/sdk-ark/source/fee.service.ts
  packages/sdk-ark/source/networks/shared.ts
  packages/sdk-lsk/source/fee.service.test.ts
  packages/sdk-lsk/source/fee.service.ts
  packages/sdk-lsk/source/transaction.service.ts
  packages/sdk/source/networks/network-repository.test.ts
  packages/sdk/source/networks/network.test.ts
  packages/sdk/source/services/fee.contract.ts
  packages/sdk/source/services/fee.service.ts
Labels: Domain: ARK, Domain: LSK, Domain: SDK

#129 release: 1.5.9
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#131 release: 1.5.11
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#125 fix(btc): use correct properties in DTOs
  packages/sdk-ada/source/client.service.test.ts
  packages/sdk-ada/source/transaction.dto.test.ts
  packages/sdk-ada/source/transaction.dto.ts
  packages/sdk-btc/source/__snapshots__/transaction.dto.test.ts.snap
  packages/sdk-btc/source/client.service.test.ts
  packages/sdk-btc/source/transaction.dto.test.ts
  packages/sdk-btc/source/transaction.dto.ts
  packages/sdk-btc/source/wallet.dto.test.ts
  packages/sdk-btc/source/wallet.dto.ts
  packages/sdk-btc/test/fixtures/client/block.json
  packages/sdk-btc/test/fixtures/client/transaction.json
  packages/sdk-btc/test/fixtures/client/transactions.json
  packages/sdk-btc/test/fixtures/client/wallet.json
  packages/sdk/source/dto/confirmed-transaction.contract.ts
  packages/sdk/source/dto/confirmed-transaction.ts
  packages/sdk/source/dto/unspent-transaction.test.ts
  packages/sdk/source/dto/unspent-transaction.ts
Labels: Domain: ADA, Domain: BTC, Domain: SDK

#132 feat(btc): wallet transactions
  packages/sdk-btc/source/client.service.test.ts
  packages/sdk-btc/source/client.service.ts
  packages/sdk-btc/source/networks/shared.ts
  packages/sdk-btc/test/fixtures/client/transactions.json
Labels: Domain: BTC

#134 release: 1.5.13
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SDK, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#135 refactor(btc): fetch wallet data by multiple addresses
  packages/sdk-btc/source/client.service.test.ts
  packages/sdk-btc/source/client.service.ts
Labels: Domain: BTC

#136 feat(btc): uses extended public key
  packages/sdk-btc/source/networks/btc.livenet.ts
  packages/sdk-btc/source/networks/btc.testnet.ts
Labels: Domain: BTC

#139 chore(ark): update BIND manifests
  packages/sdk-ark/source/networks/bind.mainnet.ts
  packages/sdk-ark/source/networks/bind.testnet.ts
  packages/sdk/source/networks/network-repository.test.ts
Labels: Domain: ARK, Domain: SDK

#140 chore(ark): remove IPFS transaction for Compendia networks
  packages/sdk-ark/source/networks/bind.mainnet.ts
  packages/sdk/source/networks/network-repository.test.ts
Labels: Domain: SDK, Domain: ARK

#141 refactor(sdk): introduce `WalletIdentifier` as input
  packages/sdk-ada/source/client.service.test.ts
  packages/sdk-ada/source/client.service.ts
  packages/sdk-ark/source/client.service.test.ts
  packages/sdk-ark/source/client.service.ts
  packages/sdk-ark/source/transaction.service.ts
  packages/sdk-atom/source/client.service.test.ts
  packages/sdk-atom/source/client.service.ts
  packages/sdk-atom/source/transaction.service.ts
  packages/sdk-avax/source/client.service.test.ts
  packages/sdk-avax/source/client.service.ts
  packages/sdk-btc/source/client.service.test.ts
  packages/sdk-btc/source/client.service.ts
  packages/sdk-dot/source/client.service.ts
  packages/sdk-egld/source/client.service.test.ts
  packages/sdk-egld/source/client.service.ts
  packages/sdk-eos/source/client.service.test.ts
  packages/sdk-eos/source/client.service.ts
  packages/sdk-eth/source/client.service.test.ts
  packages/sdk-eth/source/client.service.ts
  packages/sdk-lsk/source/client.service.test.ts
  packages/sdk-lsk/source/client.service.ts
  packages/sdk-lsk/source/ledger.service.ts
  packages/sdk-lsk/source/multi-signature.service.ts
  packages/sdk-lsk/source/transaction.service.ts
  packages/sdk-nano/source/client.service.test.ts
  packages/sdk-nano/source/client.service.ts
  packages/sdk-neo/source/client.service.test.ts
  packages/sdk-neo/source/client.service.ts
  packages/sdk-sol/source/client.service.ts
  packages/sdk-trx/source/client.service.test.ts
  packages/sdk-trx/source/client.service.ts
  packages/sdk-xlm/source/client.service.test.ts
  packages/sdk-xlm/source/client.service.ts
  packages/sdk-xrp/source/client.service.test.ts
  packages/sdk-xrp/source/client.service.ts
  packages/sdk-zil/source/client.service.test.ts
  packages/sdk-zil/source/client.service.ts
  packages/sdk/source/services/client.contract.ts
  packages/sdk/source/services/client.service.ts
Labels: Domain: SDK, Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#142 refactor(sdk): use `WalletIdentifier` for addresses
  packages/sdk-ark/source/client.service.test.ts
  packages/sdk-ark/source/client.service.ts
  packages/sdk-ark/source/ledger.service.ts
  packages/sdk-atom/source/client.service.test.ts
  packages/sdk-atom/source/client.service.ts
  packages/sdk-avax/source/transaction.dto.ts
  packages/sdk-btc/source/client.service.test.ts
  packages/sdk-btc/source/client.service.ts
  packages/sdk-egld/source/client.service.test.ts
  packages/sdk-eth/source/client.service.test.ts
  packages/sdk-eth/source/client.service.ts
  packages/sdk-lsk/source/client.service.test.ts
  packages/sdk-lsk/source/client.service.ts
  packages/sdk-nano/source/client.service.test.ts
  packages/sdk-nano/source/client.service.ts
  packages/sdk-neo/source/client.service.test.ts
  packages/sdk-neo/source/client.service.ts
  packages/sdk-trx/source/client.service.test.ts
  packages/sdk-trx/source/client.service.ts
  packages/sdk-xlm/source/client.service.test.ts
  packages/sdk-xlm/source/client.service.ts
  packages/sdk-xrp/source/client.service.test.ts
  packages/sdk-xrp/source/client.service.ts
  packages/sdk/source/helpers.test.ts
  packages/sdk/source/helpers.ts
  packages/sdk/source/services/client.contract.ts
Labels: Domain: SDK, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: EGLD, Domain: ETH, Domain: LSK, Domain: NEO, Domain: TRX, Domain: XLM, Domain: XRP

#143 refactor(sdk): remove deprecated input arguments
  packages/sdk-ada/source/client.service.test.ts
  packages/sdk-atom/source/client.service.test.ts
  packages/sdk-atom/source/client.service.ts
  packages/sdk-avax/source/client.service.ts
  packages/sdk-eth/source/client.service.test.ts
  packages/sdk-eth/source/client.service.ts
  packages/sdk-lsk/source/client.service.test.ts
  packages/sdk-lsk/source/client.service.ts
  packages/sdk-lsk/source/multi-signature.service.ts
  packages/sdk-nano/source/client.service.test.ts
  packages/sdk-nano/source/client.service.ts
  packages/sdk-neo/source/client.service.test.ts
  packages/sdk-neo/source/client.service.ts
  packages/sdk-trx/source/client.service.test.ts
  packages/sdk-trx/source/client.service.ts
  packages/sdk-xlm/source/client.service.test.ts
  packages/sdk-xlm/source/client.service.ts
  packages/sdk-xrp/source/client.service.test.ts
  packages/sdk-xrp/source/client.service.ts
  packages/sdk/source/helpers.test.ts
  packages/sdk/source/helpers.ts
  packages/sdk/source/services/client.contract.ts
Labels: Domain: SDK, Domain: ADA, Domain: ATOM, Domain: AVAX, Domain: ETH, Domain: LSK, Domain: NEO, Domain: TRX, Domain: XLM, Domain: XRP

#138 feat(btc): fetch wallet balance using wallet pub key
  packages/sdk-btc/source/address.domain.ts
  packages/sdk-btc/source/client.service.test.ts
  packages/sdk-btc/source/client.service.ts
  packages/sdk-btc/source/networks/btc.testnet.ts
Labels: Domain: BTC

#144 fix(ark): handle vote when is not inside the `attributes` property
  packages/sdk-ark/source/client.service.test.ts
  packages/sdk-ark/source/client.service.ts
Labels: Domain: ARK

#145 fix(ark): mapping of possibly undefined array
  packages/sdk-ark/source/client.service.ts
  packages/sdk-lsk/source/client.service.ts
Labels: Domain: ARK, Domain: LSK

#146 refactor(ark): calculate `ConfirmedTransactionData#isReturn` based on transaction type
  packages/sdk-ark/source/transaction.dto.test.ts
  packages/sdk-ark/source/transaction.dto.ts
Labels: Domain: ARK

#147 fix(ark): address parameter mapping
  packages/sdk-ark/source/client.service.test.ts
  packages/sdk-ark/source/client.service.ts
Labels: Domain: ARK

#149 fix(lsk): normalise transaction before calculating fee
  packages/sdk-lsk/source/__snapshots__/transaction.serializer.test.ts.snap
  packages/sdk-lsk/source/fee.service.test.ts
  packages/sdk-lsk/source/fee.service.ts
  packages/sdk-lsk/source/networks/shared.ts
  packages/sdk-lsk/source/transaction.serializer.ts
  packages/sdk-lsk/source/transaction.service.test.ts
  packages/sdk-lsk/source/transaction.service.ts
Labels: Domain: LSK

#150 chore(lsk): update dependencies
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/sdk-lsk/package.json
  packages/sdk-lsk/source/address.service.ts
  packages/sdk-lsk/source/fee.service.ts
  packages/sdk-lsk/source/multi-signature.service.ts
  packages/sdk-lsk/source/transaction.serializer.ts
  packages/sdk-lsk/source/transaction.service.ts
Labels: Domain: LSK

#151 chore: update ledger dependencies
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-btc/source/ledger.service.ts
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-eth/source/ledger.service.ts
  packages/sdk-lsk/package.json
  packages/sdk-neo/package.json
  packages/sdk-neo/source/ledger.service.test.ts
  packages/sdk-trx/package.json
  packages/sdk-trx/source/ledger.service.ts
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-xrp/source/ledger.service.ts
  packages/sdk-zil/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#152 refactor(ark): set expiration to 24 hours for musig transactions
  packages/sdk-ark/source/transaction.service.ts
Labels: Domain: ARK

#154 refactor(sdk): remove duplicate unbind statements in coin
  packages/sdk-ark/source/ledger.service.helpers.ts
  packages/sdk-ark/source/transaction.service.ts
  packages/sdk/source/coins/coin.ts
Labels: Domain: SDK, Domain: ARK

#155 refactor: replace deprecated `createTransportReplayer` with `openTransportReplayer`
  packages/sdk-ark/source/ledger.service.test.ts
  packages/sdk-ark/source/ledger.service.ts
  packages/sdk-atom/source/ledger.service.test.ts
  packages/sdk-atom/source/ledger.service.ts
  packages/sdk-btc/source/ledger.service.test.ts
  packages/sdk-btc/source/ledger.service.ts
  packages/sdk-dot/source/ledger.service.test.ts
  packages/sdk-dot/source/ledger.service.ts
  packages/sdk-eos/source/ledger.service.test.ts
  packages/sdk-eos/source/ledger.service.ts
  packages/sdk-eth/source/ledger.service.test.ts
  packages/sdk-eth/source/ledger.service.ts
  packages/sdk-lsk/source/ledger.service.test.ts
  packages/sdk-lsk/source/ledger.service.ts
  packages/sdk-neo/source/ledger.service.test.ts
  packages/sdk-neo/source/ledger.service.ts
  packages/sdk-trx/source/ledger.service.test.ts
  packages/sdk-trx/source/ledger.service.ts
  packages/sdk-xlm/source/ledger.service.test.ts
  packages/sdk-xlm/source/ledger.service.ts
  packages/sdk-xrp/source/ledger.service.test.ts
  packages/sdk-xrp/source/ledger.service.ts
Labels: Domain: ARK, Domain: ATOM, Domain: BTC, Domain: DOT, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: TRX, Domain: XLM, Domain: XRP

#156 feat(btc): implement BIP44/49/84 address derivation
  packages/sdk-btc/source/address.service.test.ts
  packages/sdk-btc/source/address.service.ts
  packages/sdk-btc/source/message.service.ts
  packages/sdk/source/services/address.contract.ts
  packages/sdk/source/services/address.service.ts
Labels: Domain: SDK, Domain: BTC

#157 refactor(sdk): store identity options on signatory
  packages/sdk-btc/source/message.service.test.ts
  packages/sdk-btc/source/message.service.ts
  packages/sdk/source/services/signatory.service.ts
  packages/sdk/source/signatories/abstract-signatory.ts
  packages/sdk/source/signatories/private-key.ts
  packages/sdk/source/signatories/signatory.test.ts
  packages/sdk/source/signatories/signatory.ts
Labels: Domain: SDK, Domain: BTC

#158 refactor(sdk): extract `IdentityLevel` interface
  packages/sdk-ark/source/ledger.service.types.ts
  packages/sdk/source/services/shared.contract.ts
Labels: Domain: SDK, Domain: ARK

#159 refactor: detect `TransportReplayer` based on class constructor
  packages/sdk-ark/source/ledger.service.ts
  packages/sdk-ark/source/ledger.service.types.ts
  packages/sdk-atom/source/ledger.service.ts
  packages/sdk-btc/source/ledger.service.ts
  packages/sdk-dot/source/ledger.service.ts
  packages/sdk-eos/source/ledger.service.ts
  packages/sdk-eth/source/ledger.service.ts
  packages/sdk-lsk/source/ledger.service.ts
  packages/sdk-neo/source/ledger.service.ts
  packages/sdk-trx/source/ledger.service.ts
  packages/sdk-xlm/source/ledger.service.ts
  packages/sdk-xrp/source/ledger.service.ts
  packages/sdk/source/services/shared.contract.ts
Labels: Domain: SDK, Domain: ARK, Domain: ATOM, Domain: BTC, Domain: DOT, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: TRX, Domain: XLM, Domain: XRP

#153 test(btc): tests for wallet discovery service
  packages/sdk-btc/source/address.factory.ts
  packages/sdk-btc/source/wallet-discovery.service.test.ts
  packages/sdk-btc/source/wallet-discovery.service.ts
Labels: Domain: BTC

#160 feat: implement `ExtendedPublicKeyService`
  packages/sdk-ada/source/coin.services.ts
  packages/sdk-ada/source/extended-public-key.service.test.ts
  packages/sdk-ada/source/extended-public-key.service.ts
  packages/sdk-btc/source/coin.services.ts
  packages/sdk-btc/source/extended-public-key.service.test.ts
  packages/sdk-btc/source/extended-public-key.service.ts
  packages/sdk/source/coins/coin.test.ts
  packages/sdk/source/coins/coin.ts
  packages/sdk/source/ioc/service-provider.contract.ts
  packages/sdk/source/ioc/service-provider.ts
  packages/sdk/source/services/extended-public-key.contract.ts
  packages/sdk/source/services/extended-public-key.service.ts
  packages/sdk/source/services/index.ts
Labels: Domain: SDK, Domain: ADA, Domain: BTC

#161 chore: update cryptography dependencies
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/sdk-ada/package.json
  packages/sdk-ada/source/extended-public-key.service.test.ts
  packages/sdk-ada/source/extended-public-key.service.ts
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-btc/source/extended-public-key.service.test.ts
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-lsk/package.json
  packages/sdk-lsk/source/wif.service.ts
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/source/ioc/service-provider.ts
  packages/sdk/source/services/extended-public-key.service.ts
Labels: Domain: SDK, Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#162 fix(btc): bind bitcoin wallet discovery service
  packages/sdk-btc/source/coin.services.ts
Labels: Domain: BTC

#163 chore: update @payvo/cryptography dependency
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#165 chore: update cryptography dependency
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-btc/source/extended-public-key.service.ts
  packages/sdk-btc/source/key-pair.service.ts
  packages/sdk-btc/source/networks/btc.livenet.ts
  packages/sdk-btc/source/networks/btc.testnet.ts
  packages/sdk-btc/source/private-key.service.ts
  packages/sdk-btc/source/public-key.service.ts
  packages/sdk-btc/source/wif.service.ts
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-lsk/package.json
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
  packages/sdk/source/networks/network.models.ts
Labels: Domain: SDK, Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#166 test(btc): ensure network configuration is used for extended public key derivation
  packages/sdk-btc/source/extended-public-key.service.test.ts
Labels: Domain: BTC

#167 fix(nano): handle legacy BIP44 derivation
  packages/sdk-btc/source/extended-public-key.service.test.ts
  packages/sdk-nano/source/address.service.ts
  packages/sdk-nano/source/key-pair.service.ts
  packages/sdk-nano/source/private-key.service.ts
  packages/sdk-nano/source/public-key.service.ts
  packages/sdk-nano/source/transaction.service.ts
  packages/sdk/source/services/shared.contract.ts
Labels: Domain: SDK, Domain: BTC

#169 fix(lsk): handle new musig transaction asset
  packages/sdk-lsk/source/transaction.dto.ts
Labels: Domain: LSK

#170 fix(lsk): expose transaction asset
  packages/sdk-lsk/source/transaction.dto.ts
Labels: Domain: LSK

#171 fix(lsk): expose confirmation status
  packages/sdk-lsk/source/transaction.dto.ts
Labels: Domain: LSK

#172 fix(sdk): reset syncing status and rethrow exception on error
  packages/sdk/source/coins/coin.ts
Labels: Domain: SDK

#173 fix(btc): handle extended public key derivation for addresses
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  packages/sdk-ada/package.json
  packages/sdk-ark/package.json
  packages/sdk-atom/package.json
  packages/sdk-avax/package.json
  packages/sdk-btc/package.json
  packages/sdk-btc/source/address.service.test.ts
  packages/sdk-btc/source/address.service.ts
  packages/sdk-dot/package.json
  packages/sdk-egld/package.json
  packages/sdk-eos/package.json
  packages/sdk-eth/package.json
  packages/sdk-lsk/package.json
  packages/sdk-lsk/source/transaction.dto.ts
  packages/sdk-luna/package.json
  packages/sdk-nano/package.json
  packages/sdk-neo/package.json
  packages/sdk-sol/package.json
  packages/sdk-trx/package.json
  packages/sdk-xlm/package.json
  packages/sdk-xrp/package.json
  packages/sdk-zil/package.json
Labels: Domain: ADA, Domain: ARK, Domain: ATOM, Domain: AVAX, Domain: BTC, Domain: DOT, Domain: EGLD, Domain: EOS, Domain: ETH, Domain: LSK, Domain: NEO, Domain: SOL, Domain: TRX, Domain: XLM, Domain: XRP, Domain: ZIL

#174 fix(btc): derive public key for address before deriving address
  packages/sdk-btc/source/address.service.test.ts
  packages/sdk-btc/source/address.service.ts
Labels: Domain: BTC
